body {
  background-image: url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_960_720.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
}
form {
  background-image: url("https://img.freepik.com/free-photo/white-painted-wall-texture-background_53876-138197.jpg?w=900&t=st=1663217679~exp=1663218279~hmac=52bc59c461c2ec74f08319c92bf3d07f0ee63b26428f078e78c28a82cb145db3");
  border: 2px solid;
  border-radius: 10px;
  padding: 110px 50px 0px 30px;
  height: 300px;
  width: 250px;
}

h1 {
  padding: 0 0 0 0;
  margin: -70px 50px 30px 90px;
}

input[type="text"],
input[type="password"] {
  width: 110%;
  padding: 7px 5px;
  margin: 0 0 3px 0px;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 6px 10px;
  margin: 10px 0 0 0px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  width: 110%;
  background-color: gray;
  color: white;
}

input[type="Submit"]:hover {
  background-color: aquamarine;
  color: black;
}

h5 {
  margin: 50px 10px 0px 50px;
}

a {
  color: blue;
}

a:hover {
  color: black;
}

p {
  margin: 10px 0 0 110px;
}

img {
  margin-left: 6px;
}

.Login {
  align-items: center;
}

/* .loginbox {
    border: dotted ;
    border-radius: 10px;
    height: 500px;
    width:300px;
    align-items: center;
    margin: auto;
    padding: 12px 50px;
  } */

/* label[for=User_Name], label[for=Password] {
    text-align: center;
    padding: 0px 0px 0px 100px;
} */
